    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <!-- Not the real /dev/null, but the effect is the same. Capture stack
             traces to non-existent file before output makes is back to a
             nefarious user.-->
        <location>/dev/null</location>
    </error-page>
</web-app>
